* {
    box-sizing: border-box;

}
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    justify-content: flex-start;
    color: darkblue;
    font-family: monospace;
    background-image: linear-gradient(
        rgb(18, 237, 109) 0%,
        rgb(255, 255, 255) 100%
    );
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    color:burlywood
}




.main{
      
    display: flex;
    padding: 1%;
    background-color: #153115;
    color: coral;
    line-height: 3;
}

.other{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color:yellow;
    line-height: 3;

}
 



nav ul {
    display: inline-flex;
    justify-content: right;  
    min-width:300px;
    list-style: none;
    gap: 20px;
}



main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}



aside {
    flex: 1;
    font-size: large;
    color: darkblue;
    padding: 80px;
    text-align: center;
    display: block;
}

.row{
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
    

}



 
  