.other{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
    align-items: left;
    padding: 1%;
    color:rgb(68, 62, 62);
    line-height: 3;

}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1;
    min-height: 100vh;
    justify-content: flex-start;
    color: darkblue;
    font-family: monospace;
    background-image: linear-gradient(
        rgb(18, 237, 109) 0%,
        rgb(255, 255, 255) 100%
    );

}

main {
    display: flex;
    flex-direction: flex-wrap;
    justify-content: left;
    padding-left: 50px;
    color: rgb(39, 21, 111);
}
 

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

article{
    padding-left: 25px;
}

h3 {
    padding-top: 50px;
    font-size: x-large;
}

a.one {
    color:burlywood;
}

a.two {
    color:rgb(39, 21, 111)

}


ul {
    display: flex;
    justify-content: right;  
    min-width:300px;
    gap: 20px;
    list-style-type: none;
}

footer ul {
    justify-content: left;

}


footer{
    display: flex;
    padding-top: 50px;
    justify-content: left;
    font-size: x-large;
}


.main{
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #153115;
    color: coral;
    line-height: 3;
    padding-left: 50px;
    padding-right: 20px;

}


 
  